<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
  </head>
  <body>

        <div class="page-container">
          <div class="sidebar">
            <%- include('../partials/sidebar')%>
          </div>

          <div class="fact-index-main-area">
            <ul>
              <% facts.forEach(fact => { %>
                <%if(!fact.isRetired) {fact.color = "green"} else if (fact.isRetired && (fact.fact === "MISSING")) {fact.color = "red"} else if (fact.isRetired && (fact.fact !== "MISSING")) {fact.color = "reddish"} %>
                <a href="facts/<%= fact.number %>"><li class="<%= fact.color%>"><%= fact.number %>: <%= fact.fact %></li></a>
              <% }); %>
            </ul>
    
          </div>

       </div>
  </body>
</html>