<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Home Page</title>
  </head>
  <body>

        <div class="page-container">
            <div class="sidebar">
                <%- include('../partials/sidebar')%>
            </div>
            <div class="user-area">
                <div class="user-header">
                    <h1>Welcome to your account, <%= user.username %>!</h1>
                </div>
              
                <div class="user-stuff">
                    <div class="user-comments-container">
                        <h2>Comments:</h2>
                        <ol class="comments-list-preview">
                            <% userComments.forEach((comment) => { %>

                                <li>
                                    Comment: <%= comment.comment %><br>
                                    Source: <%= comment.source %><br>
                                    Date: <%= comment.date %>
                                    
                                    <form action="/facts/<%=comment.factNum%>/comments/<%=comment._id%>/edit" method="get">
                                        <button type="submit">Edit</button>
                                    </form>
                                    <form action="/facts/<%=comment.factNum%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                                        <button>Delete</button>
                                    </form> 
                                </li>
                            <% }) %>
                        </ol>
                    </div>

                    <div class="user-stars-container">
                        <h2>Stars:</h2>
                        <ol class="stars-list-preview">
                            <% userStars.forEach((fact) => {%>
                                <li>
                                    Number: <%= fact.number %><br>
                                    <%= fact.fact %><br>
                                    Source <%= fact.source %>
                                </li>
                            <% }) %>
                        </ol>
                    </div>
                </div>
            </div>

         </div>

  </body>
</html>